body{
    font-family: "Montserrat"  ;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    /* font-family: 'Montserrat', sans-serif,Black;  */
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.icon{
    color: #fff;
}
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.5rem;
    font-family: "Montserrat";
    color: #fff;
}

.name-mahesh{
margin-top: 25%;
}
.title-image{
 width: 60%;
 /* right: 50px; */
 /* margin-left: 20%; */
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    /* position: relative;
    z-index: 1; */
}
.feature-box{
    text-align: center;
    padding: 7%;
}

h3{
    font-family: "Montaerrate-Bold";

}
p{
    color: #8f8f8f;
}

.icon1{
    color: #f76b8a;
}
.icon:hover{
    color: #fff;
}
.icon2{
    color:#bceb3c;
}
.icon:hover{
    color: #fff;
}
.icon3{
    color: #5edfff;
}
.icon:hover{
    color: #fff;
}

#languages{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}

#location{
    padding: 100px;
    text-align: center;
}
location-column{
    padding: 3% 2%;
}
.card-body1{
    margin-top: 11%;
}

.name{
    
    margin-left: -1%;
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid black;
}
.email{
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid black;
}
.msg{
    width: 95%;
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid black;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
}
@media(max-width:992px){
    .email{
        margin-top: 5%;
    }
    .msg{
        width: 100%;
    }
}

@media(max-width:992px){
    #title{
        text-align: center;
    }
.title-image{
    position: static;
    
    
}
.name-mahesh{
    margin-bottom: 20%;
}
}

#media{
    padding: 7% 2%;
    text-align: center;
}
.media-icon{
    margin: 20px 10px;
}
.color-1{
    color: #3b5998;
}
.color-2{
    color: #d63447;
}
.color-3{
    color: #00acee;
}
.color-4{
    color: #f64b3c;
}
